body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mn-full-game {
  height: 100vh;
  background-color: #f2f2f2;
}
.mn-main-table {
  position: relative;
  padding: 60px;
  height: 70vh;
  background-color: #f00;
}
.mn-players li {
  position: absolute;
  top: 0;
  left: 0;
}
