clearfix()
	&:before,
	&:after
		content ''
		display table
	&:after
		clear both
		
border-radius()
	-webkit-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

animation-delay()
	-webkit-animation-delay arguments
	animation-delay arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

backface-visibility()
	-webkit-backface-visibility arguments
	backface-visibility arguments

// General

body
	margin 0
	padding 0

img
	width 100%
	height auto



// Card

$card-h = 280px
$card-w = 180px
$card-t = 400ms

.card
	perspective 1000px

.card.flipped .flipper
	transform(rotateY(180deg))

.card, 
.card .front, 
.card .back, 
.card .flipper
	margin 0
	padding 0
	width $card-w
	height $card-h

.card .flipper
	transition(all $card-t ease-in-out)
	transform-style preserve-3d

.card
	.front, 
	.back
		backface-visibility(hidden)
		border-radius(25px)
		overflow hidden
		position absolute
		top 0
		left 0

	.front
		z-index 2
		transform(rotateY(0deg))

	.back
		transform(rotateY(180deg))

.card.card--treasures .front,
.card.card--treasures .back
	box-shadow(1px 1px 1px #ffb932)
	
.card.card--doors .front,
.card.card--doors .back
	box-shadow(1px 1px 1px #75482d)

.card:not(.flipped)
	animation(flip_card $card-t + 150 ease-in-out forwards)

@keyframes flip_card
	from, to
		transform(scale(1))
	50%
		transform(scale(1.25))
		



// Pack

.pack
	display inline-block
	position relative
	&.pack--treasures,
	&.pack--doors
		.card:not(:first-child)
			position absolute
			top 0
			left 0

.pack + .pack
	margin-left 20px