
$card-h = 248px
$card-w = 160px
$card-t = 400ms

.card
	perspective 1000px
	user-select(none)
	cursor pointer

.card.flipped .flipper
	transform(rotateY(180deg))

.card, 
.card .front, 
.card .back, 
.card .flipper
	margin 0
	padding 0
	width $card-w
	height $card-h
	bgsz()

.card .flipper
	transition(all $card-t ease-in-out)
	transform-style preserve-3d

.card
	.front, 
	.back
		backface-visibility(hidden)
		border-radius(25px)
		overflow hidden
		position absolute
		top 0
		left 0

	.front
		z-index 2
		transform(rotateY(0deg))

	.back
		transform(rotateY(180deg))

.card.card--treasures .front,
.card.card--treasures .back
	box-shadow(1px 1px 1px #ffb932)
	
.card.card--doors .front,
.card.card--doors .back
	box-shadow(1px 1px 1px #75482d)

.card:not(.flipped)
	animation(flip_card $card-t + 150 ease-in-out forwards)

@keyframes flip_card
	from, to
		transform(scale(1))
	50%
		transform(scale(1.25))
		

.card.removed
	animation(card-o 600ms ease-in-out forwards)

.card.has-option
	position relative
	.extra-option
		cursor pointer
		position absolute
		top 20px
		right 20px
		height 30px
		width 30px
		line-height 35px
		text-align center
		background-color $brown
		border 2px solid $yellow
		border-radius 50%
		font-size 36px
		color $yellow
		box-shadow(0 2px 2px rgba($black, 60%))
	.options-list
		position absolute
		top 50%
		left 40px
		right 40px
		transform(translate3d(0, -50%, 0))
		.btn
			display block
			margin-bottom 8px
	&.options-opened
		figure
			filter grayscale(100%)
@keyframes card-o
	from
		opacity 1
		visibility visible
		transform(translate3d(0, 0, 0))
	to
		opacity 0
		visibility hidden
		transform(translate3d(300%, 200%, 0))