	
footer.player-user
	position fixed
	bottom 0
	left 0
	width 100%
	text-align center
	z-index 100
	&::after
		content ''
		position absolute
		bottom 0
		left 195px
		height 154px
		width 100%
		margin-bottom -30px
		z-index -1
		background-image url(../images/1_04.png)
		background-size contain
		background-position 4px 0px
		box-shadow(-10px -7px 10px rgba($black, 60%))


/*!
Footer
*/

$card-hl = 350px
$card-wl = 225px

.player-user--cards
	position fixed
	bottom 0
	left 50%
	margin-left -342px
	max-width $card-wl * 3
	height $card-hl
	white-space nowrap
	.card, 
	.card .front, 
	.card .back, 
	.card .flipper
		width $card-wl
		height $card-hl
		border-radius(30px)
	.card
		visibility hidden
		position relative
		bottom -50%
		display inline-block
		transition(bottom 300ms ease-in-out)
		animation(show_cards_in_hand 500ms ease-in-out forwards)
	.card:hover
		bottom 0
		visibility visible


@keyframes show_cards_in_hand
	from
		visibility hidden
		opacity 0
		transform(scale(0.86) translate3d(0, 100%, 0))
	to
		visibility visible
		opacity 1
		transform(scale(1) translate3d(0, 0, 0))

/*!
Left Side
*/


.player-user--human
	position fixed
	bottom 0
	left 0
	width 200px
	height 227px
	margin-bottom -30px
	display block
	border-radius 100px 100px 0 0
	background url('../images/1_02.png') no-repeat
	background-position top right
	background-size contain
	box-shadow(-10px -7px 10px  rgba($black, 60%))

// User

$circle-hl = 120px

.player-human
	margin-top 40px
	max-width $circle-hl
	.player--avatar
		height $circle-hl
		.player--label-level
			height 35px
			width 35px
			line-height 35px
			font-size 18px
		img 
			height $circle-hl - ($stroke-w * 2)
			width $circle-hl - ($stroke-w * 2)

//Inventory Btn

$ih = 70px

.player-user--inventory
	position absolute
	cursor pointer
	bottom 50px
	right 5px
	display inline-block
	height $ih
	width $ih
	line-height $ih
	background-color lighten($yellowl, 40%)
	border-radius 50%
	border 3px solid $brown
	box-shadow(0 2px 6px rgba($black, 60%))
	span.inventory-level
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		color $white
		font-size 24px
		background-color rgba($black, 80%)
		opacity 0
		border-radius 50%
		transition(all 300ms ease-in-out)
		transform(scale(0))
		&::before
			content '+'
	&:hover
		span.inventory-level
			opacity 1
			transform(scale(1))
		// right 0
		// bottom 0
		// height 20px
		// width 20px
		// line-height 24px
		// font-size 12px
		// background-color $yellow
		// border-radius 50%
		// box-shadow(0 2px 2px rgba($black, 60%))
		// color $brown
	img
		display inline-block
		height $ih - 15px
		line-height $ih
		width auto
		vertical-align middle


/*!
Right Side
*/

.player-buttons
	position fixed
	bottom 0
	right 0
	padding-right 60px
	padding-bottom 30px
	a
		margin-right 10px
		margin-bottom 10px
	