/*!
Pack
*/
$card-h = 300px
$card-w = 190px

.pack
	display inline-block
	position relative
	&.pack--treasures,
	&.pack--doors,
	&.pack--rebound
		.card:not(:last-child)
			position absolute
			top 0
			left 0

.pack + .pack
	margin-left 30px

.pack-left,
.pack-right
	position absolute
	left 100px
	top 50%
	transform(translate3d(0, -50%, 0))
	
.pack-right
	left auto
	right 100px

.card-in-battle
	position absolute
	left 50%
	top 50%
	transform(translate3d(-50%, -50%, 0))
	display inline-block
	z-index 556
	padding 30px
	.card
		border-radius 25px
	.card, 
	.card .front, 
	.card .back, 
	.card .flipper
		width $card-w
		height $card-h
	.btn
		position absolute
		top -10%
		left 50%
		margin-bottom 50px
		transform(translateX(-50%))




	.card.hint
		animation blame 1.3s ease-in-out infinite